.nav-logo{
    color: rgb(27, 27, 121) !important;
    font-weight: 700 !important;
    font-size: 23px !important;
}
.nav-link{
    color: rgb(80, 80, 192) !important;
    font-weight: 600 !important;
}

.btn-auth{
    border: 2px solid #f7876a;
    background-color: white;
    color : #f7876a;
    border-radius: 5px;
}

.btn-auth:hover{
    transform: scale(1.1);
}

.container-banner{
    display: flex;
    flex-direction: row;

}
.img-container{
    height: 45vh !important;
    background-size: auto;
}

.img-banner{
    object-fit: cover;
    object-position: 0% 25%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.arrow{
    font-size: 27px;
    font-weight: 700 !important;
    cursor: pointer;
    width:40px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow:hover{
    transform: scale(1.1);
}
.search-icon{
    color: grey !important;
}
.inp-search{
    /* outline: none; */
    width: 90%;
    outline: none;
    border: none;
}
.btn-find-course{
    background-color: #f7876a;
    border: 3px solid #f7876a;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}
.course-price{
    font-size: 20px;
    color : #f7876a;
}
.btn-course{
    background-color: white;
    border: 2px solid #eca998;
    width: 100%;
    color : #d88d7b;
    border-radius: 3px;

}
.btn-course:hover{
    color : #f7876a;
    transition: all 0.5s ease-in-out;
    transform : scale(1.1)

}
.card {
    border-radius: 10px !important;
}



.img-course{
    object-fit: cover;
    object-position: 0% 10%;
    width: 100%;
    height: 290px;
    border-radius: 10px;
}

.footer-container{
    color: white;
}

.footer-title-icon{
    font-size: 40px;
}
.footer-text-menu{
    margin-right: 30px;
    font-size: 18px;
    cursor: pointer;
}

.footer-icon-sosmed{
    margin-right: 30px;
    font-size: 25px;
    color: white;
    cursor: pointer;
}
.footer-icon-sosmed:hover{
    transform: scale(1.1);
}

.category p{
    cursor:pointer;
}
@media (max-width: 479px) {
    .inp-search {
        width : 70%;
    }
    .btn-find-course{
        font-size: 12px;
    }
}

@media (min-width: 480px) {
    .inp-search {
        width : 80%;
    }
    .btn-find-course{
        font-size: 15px;
    }
    .container-branch{
        margin-left: 0px !important;
    }
}
@media (min-width: 576px) {
    .inp-search {
        width : 85%;
    }
    .btn-find-course{
        font-size: 15px;
    }
    .container-branch{
        margin-left: 0px !important;
    }
}
@media (min-width: 768px) {
    .inp-search {
        width : 90%;
    }
    .btn-find-course{
        font-size: 15px;
    }
    .container-branch{
        margin-left: 0px !important;
    }
}
@media (min-width: 992px) {
    .inp-search {
        width : 90%;
    }
    .btn-find-course{
        font-size: 18px;
    }
    .container-branch{
        margin-left: 20px !important;
    }
}
@media (min-width: 1200px) {
    .inp-search {
        width : 90%;
    }
    .btn-find-course{
        font-size: 18px;
    }
    .container-branch{
        margin-left: 70px !important;
    }
}